.location-pane-container {
  background-color: #133C55;
  border-radius: 20px;
  display: flex;
  height: 150px;
  width: 340px;
}

.location-pane-info {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 10px;
}

.location-pane-img {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.location-pane-time-temp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.location-pane-info h5 {
  margin: 0;
}

.location-pane-info h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.location-pane-img img {
  height: 125px;
}