.carousel-dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  background-color: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  margin: 0 10px;
  width: 10px;
}

.carousel-dot.active {
  background-color: #386FA4;
}

.slick-prev,
.slick-next {
  display: none !important; /* hide default arrows */
}

.slick-dots li button:before {
  color: transparent !important; /* hide default dots */
}

.carousel-container {
  cursor: pointer;
}