.daily-hl-container {
    align-items: center;
    display: flex;
}

.daily-hl-temp {
    align-items: baseline;
    display: flex;
    font-size: 1.5rem;
}

.daily-hl-temps {
    display: flex;
    flex-direction: column;
    margin-left: 8px; /* add margin-left property to create space */
}

.daily-hl-temp span {    
    font-size: 1.2rem;
    margin-right: 0.5rem;
}