.hourly-forecast-container-wrapper {
	background-color: #133C55;
	border-radius: 35px;
	display: flex;
	height: 11.25rem;
	text-align: center;
	width: 23.438rem; /* 375px */
  flex-direction: column;
  justify-content: center;
}

.severe-weather-warning-container {
	margin-top: 5px;
  margin-bottom: 15px;
}

.five-hour-forecast-container {
	display: flex;
  justify-content: space-between;
}

.hourly-forecast-container {
	min-height: 90px; /* Reserve space for HourlyForecast component */
}

hr {
  border-top: 1px solid #FFFFFF;
}