.hourly-forecast-container-wrapper {
	display: flex;
  justify-content: center;
  flex-direction: column;
	text-align: center;
	width: 23.438rem; /* 375px */
	height: 9.375rem; /* 150px */
	background-color: #133C55;
	border-radius: 40px;
}

.severe-weather-warning-container {

  padding: 10px;
	margin-top: 9px;
  margin-bottom: 6px;
}

.hourly-forecast-container {
	min-height: 90px; /* Reserve space for HourlyForecast component */
}

hr {
  border-top: 1px solid #FFFFFF;
}