.day-forecast-container {
  align-items: center;
  display: flex;
  height: 85px;
  justify-content: space-between;
  padding: 0 20px;
}

.day-forecast-container:last-child {
  border-bottom: none;
}

.day-forecast-container img {
  max-height: 40px;
  object-fit: contain;
}