.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #133C55;
  color: white;
  text-align: center;
  max-width: 23.438rem;
  max-height: 38.438rem;
  border-radius: 0 0 50px 50px;
}

.container {
  /* height: 100%; */
  padding: 0.25rem;
  border-bottom: 50px;
}

.demo-icon {
  width: 70%;
  height: 70%
}

/* Add degrees sign after main temperature text */
h1:after {
  content: "°";
  font-size: 0.5em;
  vertical-align: top;
}

/* Solid border */
hr {
  border-top: 1px solid #FFFFFF;
}