.container-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 23.438rem; /* 375px */
  height: 38.437rem; /* 615px */
  background-color: #133C55;
  color: white;
  text-align: center;
  border-radius: 0 0 50px 50px;
}

.main-container {
  padding: 0.25rem;
  border-bottom: 50px;
}

.sub-container {
  padding: 0.25rem;
  border-bottom: 50px;
}

.demo-icon {
  width: 70%;
  height: 70%
}

/* Add degrees sign after main temperature text */
h1:after {
  content: "°";
  font-size: 0.5em;
  vertical-align: top;
}

/* Solid border */
hr {
  border-top: 1px solid #FFFFFF;
}