/* Add ttf inter font family from assets/fonts */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section {
  margin-bottom: 0.938rem; /* 15px */
}

.MainPane-container {
  height: 38.437rem; /* 615px */
  margin-bottom: 0.938rem; /* 15px */
}

.HourlyForecast-container {
  height: 9.625rem; /* 160px */
  margin-bottom: 0.938rem; /* 15px */
}

.FiveDayForecast-container {
  height: 36.25rem; /* 610px */
}
