/* Set 375 by 812 mobile viewport */
.iPhone-container {
	width: 23.438rem;
	height: 50.75rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: black;
}
  
/* Hide the scrollbar */
.iPhone-container::-webkit-scrollbar {
	display: none;
}