/* Set 375 by 812 mobile viewport */
.iPhone-container {
	-webkit-overflow-scrolling: touch;
	background-color: black;
	height: 50.75rem; /* 812px */
	overflow-y: scroll; 
	width: 23.438rem; /* 375px */
}
  
/* Hide the scrollbar */
.iPhone-container::-webkit-scrollbar {
	display: none;
}